{% extends "base.html" %}

{#
this form is used to add or edit words.

the form shows the word and provides fill-in fields for the attributes for every part
of speech.

the names of the fields are one of these formats:

pos_id-attribute_id                       - when there is no word id
pos_id-attribute_id-word_id               - when there is a word id but the attribute value is unset
pos_id-attribute_id-word_id-attrvalue_id  - when there is a word id and a value for this attribute

this form will let us modify an existing word, or add a new word, or both.  we can even add multiple
words (word+pos pairs) with their attributes in one go.
#}

{% block body %}
{{ super() }}
{% if word %}
<h1>{{ word }}</h1>
{% else %}
<h1>New Word</h1>
{% endif %}
<form action="/update_dict" method="post">
    <input type="hidden" name="field_values_before" value="{{ field_values_before }}">
    <input type="hidden" name="field_names_to_attrkeys" value="{{ field_names_to_attrkeys }}">
    <input type="hidden" name="pos_id_to_pos_name" value="{{ pos_id_to_pos_name }}">
    {% if wordlist_id %}
    <input type="hidden" name="wordlist_id" value="{{wordlist_id}}">
    {% endif %}

    {% if word %}
    <input type="text" name="word" value="{{word}}">
    <input type="hidden" name="word_before" value="{{ word }}">
    {% else %}
    <input type="text" name="word">
    {% endif %}
    <br>

    <table class="wordedit">
        {% for pos_name in form_data.keys() %}
            <tr>
                <td class="wordedit" rowspan="{{ form_data[pos_name]|length }}">
                    {{ pos_name }}
                </td>
                {% for field in form_data[pos_name][:1] %}
                <td class="wordedit">
                    <label for="{{ field.field_name }}">{{ field.label }}</label>
                    {# 'for' links with the input's id, not its name #}
                </td>
                <td class="wordedit">
                    <input type="text"
                           id="{{ field.field_name }}"
                           name="{{ field.field_name }}"
                           value="{{ field.field_value }}"
                           size="60">
                </td>
                {% endfor %}
            </tr>
            {% for field in form_data[pos_name][1:] %}
            <tr>
                <td class="wordedit">
                    <label for="{{ field.field_name }}">{{ field.label }}</label>
                    {# 'for' links with the input's id, not its name #}
                </td>
                <td class="wordedit">
                    <input type="text"
                           id="{{ field.field_name }}"
                           name="{{ field.field_name }}"
                           value="{{ field.field_value }}"
                           size="60">
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <input type="submit" value="Submit"/>
</form>
{% endblock %}
