<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/styles.css">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<div class="sidebar">
    <a href="{{ url_for('dlernen.wordlists') }}">Word lists</a>
    Suche nach Wort
    <form action="/lookup" method="post">
        <input type="text" name="lookup"/>
    </form>
</div>
<div class="content">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>
