<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/styles.css">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <table class="banner">
        {% for message in messages %}
        <tr>
            <td>
                {{ message }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endwith %}
{% endblock %}
</body>
</html>
