<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/styles.css">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <table class="banner">
        {% for message in messages %}
        <tr>
            <td>
                {{ message }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endwith %}
<table>
    <tr>
        <td><a href="{{ url_for('dlernen.home') }}">Startseite</a></td>
    </tr>
    {% if return_to_wordlist_id is defined and return_to_wordlist_id != none %}
    <tr>
        <td><a href="{{ url_for('dlernen.wordlist', wordlist_id=return_to_wordlist_id) }}">zur List zurückkehren</a></td>
    </tr>
    {% endif %}
</table>
{% endblock %}
</body>
</html>
