{% extends "base.html" %}
{% block title %}
Bulk Add
{% endblock %}

{#
this form is used to bulk-add multiple words in one submit.  the words are provided from the add-word textarea in the
sidebar.  when adding/updating a word, we will not specify all attributes for the parts of speech, only the
definition.  for nouns, we'll also give the article.

the names of the fields are:

for definitions and articles:

"attr"-[word]-pos_id-attribute_id           - when there is no word id
"attr"-[word]-pos_id-attribute_id-word_id   - when there is a word id

for tags:

"tag"-[word]-pos_id-attribute_id            - when there is no word id
"tag"-[word]-pos_id-attribute_id-word_id    - when there is a word id

#}

{% block body %}
{{ super() }}

{% if tag_state %}
{% set serialized_tag_state = tag_state.serialize() %}
{% endif %}

<div class="bulk_add">
    {% include 'header.html' %}
    <h1>Bulk Add</h1>
    <form action="{{ url_for('dlernen_bulk_add.bulk_add_submit') }}" method="post">
        <input type="submit" value="Submit"/>
        <input type="hidden" value="{{ redirect_to }}" name="redirect_to"/>
        <input type="hidden" value="{{ raw_list }}" name="bulk_add_submit"/>
        {% if serialized_tag_state %}
        <input type="hidden" value="{{ serialized_tag_state }}" name="serialized_tag_state"/>
        {% endif %}
        {% for word, fields in word_to_form_data.items() %}
        <h2>{{ word }}</h2>
        <table>
            {% for f in fields %}
            {% set enlightened = 'enlightened' if field_names_to_field_values.get(f.attr_field_name) else '' %}
            <tr>
                <td>
                    <label for="{{ f.attr_field_name }}">{{ f.label }}</label>
                </td>
                <td>
                    {% if f.attribute == 'definition' %}
                    <input type="text"
                           class="wordedit {{ enlightened }}"
                           name="{{ f.attr_field_name }}"
                           id="{{ f.attr_field_name }}"
                           placeholder="{{ f.attr_field_name }}"
                           value="{{ field_names_to_field_values.get(f.attr_field_name, '') }}">
                    {% else %}
                    <fieldset>
                        {% for article in ['der', 'die', 'das'] %}
                        <input type="radio"
                               id="{{ article }}-{{ f.attr_field_name }}"
                               name="{{ f.attr_field_name }}"
                               value="{{ article }}"
                               {% if field_names_to_field_values.get(f.attr_field_name) == article %}
                               checked
                               {% endif %}
                        >
                        <label for="{{ article }}-{{ f.attr_field_name }}">{{ article }}</label>
                        {% endfor %}
                    </fieldset>
                    {% endif %}
                </td>
                {% if tag_state %}
                <td>
                    {% if f.attribute == 'definition' %}
                    <input type="text"
                           class="wordedit {{ enlightened }}"
                           name="{{ f.tag_field_name }}"
                           id="{{ f.tag_field_name }}"
                           placeholder="{{ f.tag_field_name }}"
                           value="{{ field_names_to_field_values.get(f.tag_field_name, '') }}">
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
        <input type="submit" value="Submit"/>
    </form>
</div>
{% endblock %}
