{% extends "base.html" %}

{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <table border="1px" style="width:100%">
        {% for message in messages %}
        <tr>
            <td bgcolor="pink" align="center">
                <strong>{{ message }}</strong>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endwith %}

{{ super() }}
<table>
    <tr>
        <td><a href="{{ url_for('home') }}">Startseite</a></td>
    </tr>
    {% if return_to_wordlist_id is defined and return_to_wordlist_id != none %}
    <tr>
        <td><a href="{{ url_for('wordlist', wordlist_id=return_to_wordlist_id) }}">zur List zurückkehren</a></td>
    </tr>
    {% endif %}
</table>
{% endblock %}
