{% extends "base.html" %}

{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <h2>{{ message }}</h2>
        {% endfor %}
    {% endif %}
{% endwith %}

{{ super() }}
<table>
    <tr>
        <td><a href="{{ url_for('home') }}">Startseite</a></td>
    </tr>
    {% if return_to_wordlist_id is defined and return_to_wordlist_id != none %}
    <tr>
        <td><a href="{{ url_for('wordlist', wordlist_id=return_to_wordlist_id) }}">zur List zurückkehren</a></td>
    </tr>
    {% endif %}
</table>
{% endblock %}
