{% extends "base.html" %}

{% block title %}
Ein Geschichte über zwei Städte
{% endblock %}

{#
flashed messages usually won't appear here because this page is typically not loaded programmatically.
#}

{% block body %}
{{ super() }}
<div class="home">
    {% include 'header.html' %}
    <form action="{{ url_for('dlernen.lookup_by_post') }}" method="post">
        <table>
            <tr>
                <td>Look up word:</td>
                <td><input type="text" name="lookup" size="30"/></td>
            </tr>
        </table>
        <input type="submit" value="Submit"/>
    </form>
</div>
{% endblock %}
