<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/styles.css">
    {% block title %}
    {% endblock %}
</head>
<body>
<table>
    <tr>
        <td><a href="{{ url_for('wordlists') }}">Startseite</a></td>
        {% if return_to_list_id %}
    </tr>
    <tr>
        <td><a href="{{ url_for('wordlist', list_id=return_to_list_id) }}">zur Liste zurückkehren</a></td>
        {% endif %}
    </tr>
    <td>
      <a href="{{ url_for('add_word_from_form') }}">Add a word</a>
    </td>
</table>
{% block body %}
{% endblock %}
</body>
</html>
