{% extends "common.html" %}

{% block body %}
{{ super() }}
<form action="/edit_list" method="post">
    <input type="hidden" value="{{ wordlist.wordlist_id }}" name="wordlist_id"/>
    <table>
        <tr>
            <td>List Name:</td>
            <td><input type="text" value="{{ wordlist.name }}" name="name" size="60"></td>
        </tr>
        <tr>
            <td>Source:</td>
            <td><input type="text" value="{{ wordlist.citation }}" name="citation" size="60"></td>
        </tr>
    </table>
    {% if wordlist.list_type != 'standard' %}
    <h2>Code:</h2>
    Should be a sql statement that selects a single column called 'word_id.'<br>
    <textarea name="sqlcode" rows="20" cols="70">{{ wordlist.sqlcode }}</textarea>
    <br>
    {% endif %}
    <input type="submit" value="Update list details"/>
</form>
{% endblock %}
