{% extends "home.html" %}

{% block body %}
{{ super() }}
<form action="/edit_list" method="post">
  <table>
	<tr>
	  <td>List Name:</td>
	  <td><input type="text" value="{{ wl_row.name }}" name="name" size="60"></td>
	</tr>
	<tr>
	  <td>Source:</td>
	  <td><input type="text" value="{{ wl_row.source }}" name="source" size="60"></td>
	</tr>
	<input type="hidden" value="{{ wl_row.id }}" name="list_id">
  </table>
  <h2>Code:</h2>
  Should be a sql statement that selects a single column called 'word_id.'<br>
  <textarea name="code" rows="20" cols="70">{{ wl_row.code }}</textarea>
  <br>
  <input type="submit" value="Update list details"></input>
</form>
{% endblock %}
