{% extends "base.html" %}

{% block body %}
{{ super() }}

{#
# when rendering this template, you have to pass in values for these arguments:
#
# - worldist_metadata, which is a dictionary containing these fields:
#
#     - wordlist_id
#     - citation
#     - sqlcode
#     - list_type
#     - name
#
# the above are the fields returned by a WORDLIST_METADATA_RESPONSE_SCHEMA.  wordlist_id and list_type are
# the only of these that cannot be edited, so they must be kept hidden.
#
#}
<div class="listattributes">
    {% include 'header.html' %}
    <form action="/edit_list_attributes" method="post">
        <input type="hidden" value="{{ wordlist_metadata.wordlist_id }}" name="wordlist_id"/>
        <input type="hidden" value="{{ wordlist_metadata.list_type }}" name="list_type"/>
        <table>
            <tr>
                <td>List Name:</td>
                <td><input type="text" value="{{ wordlist_metadata.name }}" name="name" size="60"></td>
            </tr>
            <tr>
                <td>Source:</td>
                <td><input type="text" value="{{ wordlist_metadata.citation }}" name="citation" size="60"></td>
            </tr>
        </table>
        {% if wordlist_metadata.list_type == 'empty' or wordlist_metadata.list_type == 'smart' %}
        <h2>Code</h2>
        Should be a sql statement that selects a single column called 'word_id.'<br>
        <textarea class="sqlcode" name="sqlcode">{{ wordlist_metadata.sqlcode }}</textarea>
        <br>
        {% endif %}
        <input type="submit" value="Update list details"/>
    </form>
</div>
{% endblock %}

