{% extends "common.html" %}

{% block body %}
{{ super() }}
<br>
{% if results %}
{% for item in results %}
<h2>
    <a href="{{ url_for('edit_word_form', word=item['word']) }}">
        {{ item['word'] }}
    </a>
</h2>
<p>{{ item['pos_name'] }}
<table>
    {% for attr in item['attributes'] %}
    <tr>
        <td width="200px">{{ attr['attrkey'] }}</td>
        <td>
            {% if attr['attrvalue'] != None %}
            {{ attr['attrvalue'] }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
{% else %}
{{ word }} not found
{% endif %}
<br>
<form action="/lookup" method="post">
    {% if return_to_wordlist_id != none %}
    <input type="hidden" value="{{return_to_wordlist_id}}" name="wordlist_id"/>
    {% endif %}
    <table>
        <tr>
            <td>Look up word:</td>
            <td><input type="text" name="lookup" size="30"/></td>
        </tr>
    </table>
    <input type="submit" value="Submit"/>
</form>
{% endblock %}
