{% extends "base.html" %}
{% block title %}
Lookup {{ word }}
{% endblock %}

{#
this page is for displaying a single word given its word id.  recall that each (word, pos_id) pair gets its own
word id.

# wordobject is an element of the array in WORDS_RESPONSE_SCHEMA.
# member_wordlists is the member wordlists for the word_id in wordobject, as returned by /api/wordlists/word_id.
# this list may be empty.
#}

{% block body %}
{{ super() }}
<div class="lookup">
    {% include 'header.html' %}

    {% for tuple in template_args %}
    <h1>
        {% if wordlist %}
        <a name="{{ wordobject['word'] }}"
           href="{{ url_for('dlernen.edit_word_form', wordlist_id=wordlist.wordlist_id, serialized_tag_state=serialized_tag_state, word=wordobject['word']) }}">
            {{ wordobject['word'] }}
        </a>
        {% else %}
        <a name="{{ wordobject['word'] }}"
           href="{{ url_for('dlernen.edit_word_form', serialized_tag_state=serialized_tag_state, word=wordobject['word']) }}">
            {{ wordobject['word'] }}
        </a>
        {% endif %}
    </h1>
    <h3>{{ wordobject['pos_name'] }}</h3>
    <table>
        {% for attr in wordobject['attributes'] %}
        <tr>
            <td class="word_attributes">{{ attr['attrkey'] }}</td>
            <td>
                {% if attr['attrvalue'] != None %}
                {{ attr['attrvalue'] }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% if member_wordlists %}
    <h2>Wortlisten, die dieses Wort enthalten</h2>
    <ul>
        {% for wl in member_wordlists %}
        <li><a href="{{ url_for('dlernen.wordlist_page', wordlist_id=wl.wordlist_id) }}">{{ wl.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <h2>(no member wordlists)</h2>
    {% endif %}
    {% endfor %}

    <form action="{{ url_for('dlernen.update_word_notes') }}" method="post">
        <input type="hidden" value="{{ serialized_tag_state }}" name="serialized_tag_state"/>
        <input type="hidden" value="{{ wordlist.wordlist_id }}" name="wordlist_id"/>
        <input type="hidden" value="{{ wordobject['word_id'] }}" name="word_id"/>
        <h2>Noten</h2>
        <input type="submit" value="Update Notes"/>
        <textarea class="notes" name="notes">

        </textarea>
        <input type="submit" value="Update Notes"/>
    </form>

</div>
{% endblock %}
