{% extends "base.html" %}

{% block title %}
Manage Relation
{% endblock %}

{% block body %}
{{ super() }}

{% if tag_state %}
{% set serialized_tag_state = tag_state.serialize() %}
{% endif %}

<div class="relation_editor">
    {% include 'header.html' %}
    <h1>
        Relation Editor Page ({{ relation.relation_id }})
    </h1>
    {{ relation.description if relation.description else '' }}
    <div>
        <h2>Wörter</h2>
        <table>
            {% for w in relation.words %}
            <tr>
                <td>{{ w['article'] }}</td>
                <td>{{ w['word'] }}</td>
                <td>{{ w['definition'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <form action="{{ url_for('dlernen_relation.update_wordlist_notes') }}" method="post">
            <h2>Noten</h2>
            <input type="hidden" value="{{ relation.relation_id }}" name="relation_id"/>
            {% if tag_state %}
            <input type="hidden" value="{{ serialized_tag_state }}" name="serialized_tag_state"/>
            {% endif %}
            <textarea class="" name="notes">{{ relation.notes if relation.notes else '' }}</textarea>
            <br>
            <input type="submit" value="Update Notes"/>
        </form>
    </div>
    <div>
        <h2>Relation Editor</h2>
        <form action="" method="post">
            <table>
                <tr>
                    <th colspan="3">Word</th>
                    <th class="wortart">Wortart</th>
                </tr>
                {% for w in relation.words %}
                <tr>
                    <td>
                        <input type="checkbox" name="removing" value="{{ w['word_id'] }}">
                    </td>
                    <td>{{ w['article'] }}</td>
                    <td>{{ w['word'] }}</td>
                    <td>{{ w['pos_name'] }}</td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" name="submit" value="Delete Selected Words"/>
        </form>
    </div>
    <div>
        <form action="" method="post">
            {% if tag_state %}
            <input type="hidden" value="{{ serialized_tag_state }}" name="serialized_tag_state"/>
            {% endif %}
            <input type="hidden" value="{{ relation.relation_id }}" name="relation_id"/>
            <input type="text" id="add_word" name="add_word"/>
            <input type="submit" name="submit" value="Add Word"/>
        </form>
    </div>
    <div>
        <form action="{{ url_for('dlernen_relation.update_description') }}" method="post">
            {% if tag_state %}
            <input type="hidden" value="{{ serialized_tag_state }}" name="serialized_tag_state"/>
            {% endif %}
            <input type="hidden" value="{{ relation.relation_id }}" name="relation_id"/>
            <input type="text" id="description" name="description"/>
            <input type="submit" name="submit" value="Update Description"/>
        </form>
    </div>
</div>
{% endblock %}
