{% extends "common.html" %}

{% block body %}
{{ super() }}
<h1><a href="{{ url_for('list_attributes', wordlist_id=result.wordlist_id) }}">{{result.name}}
    ({{result.wordlist_id}})</a>
</h1>
{% if result['source_is_url'] == true %}
<a href="{{ result.citation }}">{{ result.citation }}</a>
{% elif result.citation %}
{{ result.citation }}
{% endif %}
<br>
<table width="100%">
    <tr valign="top">
        <td width>
            <h2>Wörter ({{ result['known_words']|length }})</h2>
            <table>
                <tr valign="top">
                    {% for column in words %}
                    <td>
                        <table>
                            {% for r in column %}
                            <tr valign="top">
                                <td>{{ r.article }}</td>
                                <td>
                                    <a href="{{ url_for('lookup_by_get', word=r.word) }}">{{ r.word }}</a>
                                </td>
                                <td>{{ r.definition }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    {% endfor %}
                </tr>
            </table>
        </td>
    </tr>
</table>
<form action="/update_notes" method="post">
    <h2>Notes</h2>
    <input type="submit" value="Update Notes"/>
    <br>
    <textarea name="notes" rows="50" cols="100">{{ result.notes }}</textarea>
    <br>
    <input type="hidden" value="{{result.wordlist_id}}" name="wordlist_id"/>
    <input type="submit" value="Update Notes"/>
</form>
{% endblock %}
