{% extends "base.html" %}

{% block title %}
Study Guide:  {{ wordlist.name }}
{% endblock %}

{% block body %}
{{ super() }}
<div class="study_guide">
    {% include 'header.html' %}
    <h1>{{ wordlist.name }} ({{ wordlist.wordlist_id }})</h1>
    <table>
        <tr>
            <td>
                <a href="{{ url_for('dlernen.wordlist', wordlist_id=wordlist.wordlist_id) }}">
                    zur Liste zurückkehren</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('dlernen.list_editor', wordlist_id=wordlist.wordlist_id) }}">Editor</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('dlernen.quiz_report', wordlist_id=wordlist.wordlist_id) }}">Zeugnis</a>
            </td>
        </tr>
    </table>
    <table class="study_guide">
        <tr>
            <th>
                Tag
            </th>
            <th>
                Words
            </th>
        </tr>
        {% for t in tags %}
        <tr>
            <td class="study_guide">{{ t }}</td>
            <td class="study_guide">
                <table>
                    {% for w in tags_to_words[t] %}
                    <tr>
                        <td>{{ w['article'] }}</td>
                        <td>
                            <div class="tooltip">
                                {{ w['word'] }}
                                <span class="tooltiptext">
                                    {{ w['definition'] if w['definition'] else '(no definition)' }}
                                </span>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endfor %}
        {% if untagged_words|length %}
        <tr>
            <td class="study_guide">(no tag)</td>
            <td class="study_guide">
                <table>
                    {% for w in untagged_words %}
                    <tr>
                        <td>{{ w['article'] }}</td>
                        <td>
                            <div class="tooltip">
                                {{ w['word'] }}
                                <span class="tooltiptext">
                                    {{ w['definition'] if w['definition'] else '(no definition)' }}
                                </span>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endif %}
    </table>
</div>
{% endblock %}
