{% extends "base.html" %}
{% block title %}
Wordlist:  {{ wordlist.name }}
{% endblock %}
{% block body %}
{{ super() }}
<div class="wordlist">
    <h1>
        {{wordlist.name}} ({{wordlist.wordlist_id}})
    </h1>
    <table>
        {% if wordlist['source_is_url'] == true %}
        <tr>
            <td><a href="{{ wordlist.citation }}">{{ wordlist.citation }}</a></td>
        </tr>
        {% elif wordlist.citation %}
        <tr>
            <td>{{ wordlist.citation }}</td>
        </tr>
        {% endif %}
    </table>
    {% if serialized_tag_state %}
    {% if tag_state|length > 0 %}
    <h2>Tags</h2>
    <form action="{{ url_for('dlernen.update_tag_state', wordlist_id=wordlist.wordlist_id) }}" method="post">
        <input type="hidden" value="{{serialized_tag_state}}" name="serialized_tag_state"/>
        <table>
            {# i fucking hate this #}
            <tr>
                {% for tc in tag_chunks %}
                <td>
                    <table>
                        {% for t in tc %}
                        <tr>
                            <td>
                                {# t is a tuple (tag, state) #}
                                {% if t[1] %}
                                <input type="checkbox"
                                       name="tag"
                                       value="{{ t[0] }}" checked>
                                {{ t[0] }}
                                {% else %}
                                <input type="checkbox"
                                       name="tag"
                                       value="{{ t[0] }}">
                                {{ t[0] }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
                {% endfor %}
            </tr>
        </table>
        <input type="submit" value="Filter list by tags"/>
    </form>
    {% endif %}
    {% endif %}
    <h2>Worte ({{ wordlist.words|length }})</h2>
    <table>
        <tr>
            <td>
                <table class="tableau">
                    <tr>
                        {% for column in words %}
                        <td>
                            <table>
                                {% for r in column %}
                                <tr>
                                    <td>
                                        {{ r.article }}
                                    </td>
                                    <td>
                                        {% if serialized_tag_state %}
                                        <a href="{{ url_for('dlernen.lookup_by_id', word_id=r.word_id, wordlist_id=wordlist.wordlist_id, serialized_tag_state=serialized_tag_state) }}">
                                            {{ r.word }}
                                        </a>
                                        {% else %}
                                        <a href="{{ url_for('dlernen.lookup_by_id', word_id=r.word_id, wordlist_id=wordlist.wordlist_id) }}">
                                            {{ r.word }}
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td>{{ r.definition if r.definition else '(no definition)' }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <form action="{{ url_for('dlernen.update_notes') }}" method="post">
        {% if serialized_tag_state %}
        <input type="hidden" value="{{serialized_tag_state}}" name="serialized_tag_state"/>
        {% endif %}
        <h2>Noten</h2>
        <input type="submit" value="Update Notes"/>
        <br>
        <textarea class="notes" name="notes">{{ wordlist.notes }}</textarea>
        <br>
        <input type="hidden" value="{{wordlist.wordlist_id}}" name="wordlist_id"/>
        <input type="submit" value="Update Notes"/>
    </form>
</div>
{% endblock %}
