{% extends "base.html" %}
{% block title %}
Wordlist:  {{ wordlist.name }}
{% endblock %}
{% block body %}
{{ super() }}
<div class="wordlist">
    <h1>
        {{wordlist.name}} ({{wordlist.wordlist_id}})
    </h1>
    <table>
        {% if wordlist['source_is_url'] == true %}
        <tr>
            <td><a href="{{ wordlist.citation }}">{{ wordlist.citation }}</a></td>
        </tr>
        {% elif wordlist.citation %}
        <tr>
            <td>{{ wordlist.citation }}</td>
        </tr>
        {% endif %}
        {% if wordlist['list_type'] == 'empty' or wordlist['list_type'] == 'standard' %}
        <tr>
            <td>
                <form action="{{ url_for('dlernen.add_to_list') }}" method="post">
                    Word:
                    <input type="text" name="word"/>
                    <input type="hidden" value="{{wordlist.wordlist_id}}" name="wordlist_id"/>
                    <input type="submit" value="Add Word"/>
                </form>
            </td>
        </tr>
        {% endif %}
    </table>
    {% if wordlist.unknown_words|length > 0 %}
    <h2>Unbekannte Worte ({{ wordlist['unknown_words']|length }})</h2>
    <table>
        {########################### unknown words #######################}
        <tr>
            <td>
                <form action="{{ url_for('dlernen.delete_from_list') }}" method="post">
                    <input type="hidden" value="{{wordlist.wordlist_id}}" name="wordlist_id"/>
                    <table class="tableau">
                        <tr>
                            {% for column in unknown_words %}
                            <td>
                                <table>
                                    {% for r in column %}
                                    <tr>
                                        <td><input type="checkbox" name="unknown_wordlist" value="{{ r }}"></td>
                                        <td>
                                            <a href="{{ url_for('dlernen.edit_word_form', wordlist_id=wordlist.wordlist_id, word=r) }}">
                                                {{ r }}
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value="Delete Selected Words"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    </table>
    {% endif %}

    <h2>Bekannte Worte ({{ wordlist.known_words|length }})</h2>
    <table>
        {########################### known words #######################}
        <tr>
            <td>
                <table class="tableau">
                    <tr>
                        {% for column in known_words %}
                        <td>
                            <table>
                                {% for r in column %}
                                <tr>
                                    <td>
                                        {{ r.article }}
                                    </td>
                                    <td>
                                        <a href="{{ url_for('dlernen.get_word_by_id', word_id=r.word_id, wordlist_id=wordlist.wordlist_id) }}">
                                            {{ r.word }}
                                        </a>
                                    </td>
                                    <td>{{ r.definition if r.definition else '(no definition)' }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <form action="{{ url_for('dlernen.update_notes') }}" method="post">
        <h2>Noten</h2>
        <input type="submit" value="Update Notes"/>
        <br>
        <textarea class="notes" name="notes">{{ wordlist.notes }}</textarea>
        <br>
        <input type="hidden" value="{{wordlist.wordlist_id}}" name="wordlist_id"/>
        <input type="submit" value="Update Notes"/>
    </form>
</div>
{% endblock %}
