/*
body has a default margin that is > 0; looks like 10 or so.

colors are inherited from enclosing elements.

these are NOT inherited:
height
width
margin
padding
border

*/
:root {
    --sidebar-width:  200px;
    --background-color: #eeeeff;
    --link-color: blue;
    --sidebar-text-color: white;
}

body {
    /* background-color: #fbeee2;*/

    /* add a div class to each page to make this awful BG color not happen. */
    background-color: blue;
    font-family: helvetica;
    margin: 0px;
}

td {
    vertical-align: top
}

.error {
    background-color:  tomato;
    margin: 20px;
}

.content {
    margin-left: var(--sidebar-width);
    min-height: 100vh;
}

.home {
    background-color: var(--background-color);
    padding: 10px;
    min-height: 100vh;
}

.addword {
    background-color: var(--background-color);
    padding: 10px;
    min-height: 100vh;
}

.lookup {
    background-color: var(--background-color);
    padding: 10px;
    min-height: 100vh;
}

.wordlist {
    background-color: var(--background-color);
    padding: 10px;
    min-height: 100vh;
}

.wordlists {
    background-color: var(--background-color);
    padding: 10px;
    min-height: 100vh;
}

.listattributes {
    background-color: var(--background-color);
    padding: 10px;
    min-height: 100vh;
}

.quiz_report {
    background-color: var(--background-color);
    padding: 10px;

    /* this setting of min-height will cause unwanted vertical space in the table.  but if we remove it,
    the height of the div for quiz_report will let the blue BG of the body show through.
    */
    min-height: 100vh;
}

.numeric {
    text-align: right;
}

.quiz_report table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    font-family: "courier new";
    vertical-align: bottom;
    /* padding setting is ignored here */

    /* this will override the min-height set in the .quiz_report style.  without it, the table min-height
    is inhereted from there and will stretch vertically, causing unwanted vertical space in the table cells.
    doing this lets the table have a smaller min height, where stretching does not happen. */
    min-height: 1px;
}

td.quiz_report {
    padding: 0;
}

.sidebar {
    height: 100%;
    width: var(--sidebar-width);
    position: fixed;
    z-index: 1;
    background-color: black;

    /* this sets the coordinate of the top left corner of the sidebar.
    without these there is a space around
    the sidebar.  */
    top: 0;
    left: 0;
    color: var(--sidebar-text-color);
    font-size: large;
}

.sidebar a {
    display: block;
    text-decoration: none;
    font-size: large;
    padding: 20px;
}

a {
    text-decoration: none
}

.sidebar a:link, .sidebar a:visited {
    color: var(--sidebar-text-color);
}

.content a:link, .content a:visited {
    color: var(--link-color);
}

textarea.notes {
    font-size: 14px;
    width: 100%;
    height: 600px;
}

textarea.sqlcode {
    width: 600px;
    height: 250px;
}

.banner {
    background-color: pink;
    text-align: center;
    width: 100%;
    font-size: xx-large
}

th.wordedit {
    text-align: left;
    padding-top: 20px;
}

td.word_attributes {
    width: 200px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table.tableau {
    width: 100%
}

.wordedit {
    /*border: 1px solid;*/
}

input[type="text"].wordedit {
    width: 400px
}

