:root {
    --sidebar-width:  200px;
    --background-color: #eeeeff;
    --link-color: blue;
}

body {
    /* background-color: #fbeee2;*/
    background-color: var(--background-color);
    font-family: helvetica
}

a {
    text-decoration: none
}

a:link, a:visited {
    color: var(--link-color);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

textarea.notes {
    font-size: 14px;
    width: 100%;
    height: 600px;
}

textarea.sqlcode {
    width: 600px;
    height: 250px;
}

table.tableau {
    width: 100%
}

.wordedit {
    /*border: 1px solid;*/
}

input[type="text"].wordedit {
    width: 400px
}

th.wordedit {
    text-align: left;
    padding-top: 20px;
}

td {
    vertical-align: top
}

td.word_attributes {
    width: 200px
}

.banner {
    background-color: pink;
    text-align: center;
    width: 100%;
    font-size: xx-large
}

.sidebar {
    height: 100%;
    width: var(--sidebar-width);
    position: fixed;
    z-index: 1;
    background-color: black;

    /* this sets the coordinate of the top left corner of the sidebar.  without these there is a space around
    the sidebar.  */
    top: 0;
    left: 0;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: var(--background-color);
    font-size: large;
    padding: 20px;
}

.content {
    margin-left: var(--sidebar-width);
    padding: 0px 10px
}