:root {
    --sidebar-width:  200px;
}

body {
    background-color: #fbeee2;
    font-family: helvetica
}

.banner {
    background-color: pink;
    text-align: center;
    width: 100%;
    font-size: xx-large
}

.sidebar {
    height: 100%;
    width: var(--sidebar-width);
    position: fixed;
    z-index: 1;
    background-color: black;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: #fbeee2;
    font-size: large;
}

.content {
    margin-left: var(--sidebar-width);
}