/*
body has a default margin that is > 0; looks like 10 or so.

colors are inherited from enclosing elements.

these are NOT inherited:
height
width
margin
padding
border

tooltip code taken from:

https://www.w3schools.com/css/css_tooltip.asp

*/
:root {
    --sidebar-width:  200px;
    --background-color: #eeeeff;
    --link-color: blue;
    --sidebar-text-color: white;
}

body {
    /* background-color: #fbeee2;*/

    /* add a div class to each page to make this awful BG color not happen. */
    background-color: blue;
    font-family: helvetica;
    margin: 0px;
}

td {
    vertical-align: top
}

.error {
    background-color:  tomato;
    margin: 20px;
}

.content {
    margin-left: var(--sidebar-width);
    min-height: 100vh;
}

.home {
    background-color: var(--background-color);
    padding: 10px;
    min-height: 100vh;
}

.addword {
    background-color: var(--background-color);
    padding: 10px;
    min-height: 100vh;
}

.lookup {
    background-color: var(--background-color);
    padding: 10px;
    min-height: 100vh;
}

.results {
    background-color: var(--background-color);
    padding: 10px;
    min-height: 100vh;
}

.wordlist {
    background-color: var(--background-color);
    padding: 10px;
    min-height: 100vh;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  width: 230px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 65%;
  margin-left: -65px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.wordlists {
    background-color: var(--background-color);
    padding: 10px;
    min-height: 100vh;
}

.wordlists td.sqlerror {
    color: red;
    font-weight: bold;
}

.listattributes {
    background-color: var(--background-color);
    padding: 10px;
    min-height: 100vh;
}

.list_editor {
    background-color: var(--background-color);
    padding: 10px;
    min-height: 100vh;
}

input[type="text"].list_editor_text {
    width: 200px
}

.study_guide {
    background-color: var(--background-color);
    padding: 10px;
    min-height: 100vh;
}

table.study_guide {
    border: 1px solid;
    border-collapse: collapse;
    min-height: 1px;
    padding: 1px;
}

/* padding property order is

4:  top, right, bottom, left
2:  top+bottom, right+left
3:  top, right+left, bottom

when two classes define different values for the same style, the browser resolves this
in SOURCE order, i.e. the order in which they are defined here.  last one wins.

the order of the classes inside the HTML attribute DOES NOT matter.
*/

.study_guide th {
    text-align: center;
}

td.study_guide_tag {
    border: 1px solid;
    min-height: 1px;
    padding: 5px 10px 5px;
    vertical-align: middle;
}

td.study_guide_single {
    border-top: 1px solid;
    border-bottom: 1px solid;
    min-height: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

td.study_guide_top {
    border-top: 1px solid;
    min-height: 1px;
    padding-top: 5px;
}

td.study_guide_middle {
    border: none;
    min-height: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}

td.study_guide_bottom {
    border-bottom: 1px solid;
    min-height: 1px;
    padding-bottom: 5px;
}

td.sg_article {
    text-align:  right;
    padding-right: 5px;
    padding-left: 10px;
}

td.sg_word {
    padding-right: 10px;
}

.quiz_report {
    background-color: var(--background-color);
    padding: 10px;

    /* this setting of min-height will cause unwanted vertical space in the table.  but if we remove it,
    the height of the div for quiz_report will let the blue BG of the body show through.
    */
    min-height: 100vh;
}

.numeric {
    text-align: right;
}

table.quiz_report, th.quiz_report, td.quiz_report {
    border: 1px solid;
    border-collapse: collapse;
    font-family: "courier new";

    /* this will override the min-height set in the .quiz_report style.  without it, the table min-height
    is inhereted from there and will stretch vertically, causing unwanted vertical space in the table cells.
    doing this lets the table have a smaller min height, where stretching does not happen. */
    min-height: 1px;

    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

table.quiz_report {
    min-width: 100%;
}

.sidebar {
    height: 100%;
    width: var(--sidebar-width);
    position: fixed;
    z-index: 1;
    background-color: black;

    /* this sets the coordinate of the top left corner of the sidebar.
    without these there is a space around
    the sidebar.  */
    top: 0;
    left: 0;
    color: var(--sidebar-text-color);
    font-size: large;
}

.sidebar a {
/* this selector is a descendant combinator.  it means that all of the a's inside a sidebar are going
to look like this.

ref:  https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/Descendant_combinator
*/
    display: block;
    text-decoration: none;
    font-size: large;
    padding: 10px 20px;
}

.sidebar a:link, .sidebar a:visited {
/* another descendant combinator.  two in fact.  we cannot do this:

.sidebar a:link a:visited

because it implies that a:visited is a descendant of a:link which isn't the case.
*/
    color: var(--sidebar-text-color);
}

.sidebar label {
    display: block;
    text-decoration: none;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.sidebar input[type="text"] {
    margin-top: 5x;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.content a:link, .content a:visited {
    color: var(--link-color);
    text-decoration:  none;
}

textarea.notes {
    font-size: 14px;
    width: 100%;
    height: 600px;
}

textarea.word_notes {
    font-size: 14px;
    width: 100%;
    height: 400px;
}

textarea.sqlcode {
    width: 600px;
    height: 250px;
}

.banner {
    background-color: pink;
    text-align: center;
    width: 100%;
    font-size: xx-large
}

th.wordedit {
    text-align: left;
    padding-top: 20px;
}

td.word_attributes {
    width: 200px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table.tableau {
    width: 100%
}

.wordedit {
    /*border: 1px solid;*/
}

input[type="text"].wordedit {
    width: 400px
}

