body {
    background-color: #fbeee2;
    font-family: helvetica
}

.banner {
    background-color: pink;
    text-align: center;
    width: 100%;
    font-size: xx-large
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
}

.sidebar a {
    display: block;
    text-decoration: none
}

.content {
    margin-left: 160px;
}