<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>
    </title>
  </head>
  <body>
	{% if word %}
	<h1>New Word:  {{ word }}</h1>
	{% else %}
	<h1>New Word</h1>
	{% endif %}
	<form action="/add_to_dict" method="post">
	  {% if word %}
	  <input type="text" name="word" value="{{word}}">
	  <br>
	  {% endif %}

	  {% for pos in pos_dict.keys() %}
	  <input type="radio" name="pos" value="{{ pos_dict[pos][0].pos_id }}">
	  {{ pos }}<br>
	  {% endfor %}
	  <input type="submit" value="Submit"></input>
	</form>
  </body>
</html>
