{% extends "home.html" %}

{% block body %}
{{ super() }}
{% if word %}
<h1>New Word:  {{ word }}</h1>
{% else %}
<h1>New Word</h1>
{% endif %}
<form action="/add_to_dict" method="post">
  {% if word %}
  <input type="hidden" name="list_id" value="{{list_id}}">
  <input type="text" name="word" value="{{word}}">
  {% else %}
  <input type="text" name="word">
  {% endif %}
  <br>

  <table>
	{% for pos in pos_dict.keys() %}
	<tr>
	  <td>
		<input type="radio" name="pos" value="{{ pos_dict[pos][0].pos_id }}">
	  </td>
	  <td>
		{{ pos }}
	  </td>
	  <td></td>
	</tr>
	{% for f in pos_dict[pos] %}
	<tr>
	  <td></td>
	  <td>
		{{ f.attrkey }}
	  </td>
	  <td>
		<input type="text" name="{{f.pos_id}}-{{f.attribute_id}}-{{f.attrkey}}" size="60">
	  </td>
	</tr>
    {% endfor %}
    {% endfor %}
  </table>
  <input type="submit" value="Submit"></input>
</form>
{% endblock %}

