{% extends "home.html" %}

{% block body %}
{{ super() }}
<h1>Word Lists</h1>
<form action="/addlist" method="post">
  <table>
	<tr>
	  <td>List Name:</td>
	  <td><input type="text" name="name" size="100"></input></td>
	</tr>
	<tr>
	  <td>Source:</td>
	  <td><input type="text" name="source" size="100"></input></td>
	</tr>
  </table>
  <input type="submit" value="Add List"></input>
</form>
<form action="/deletelist" method="post">
  {% for r in rows %}
  <input type="checkbox" name="deletelist" value="{{ r.id }}">
  <a href="{{ url_for('wordlist', list_id=r.id) }}">{{ r.name }}</a> ({{ r.listcount }})
  <br>
  {% endfor %}
  <input type="submit" value="Delete Selected Lists"></input>
</form>
{% endblock %}

