<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>
    </title>
  </head>
  <body>
	<h1>Word Lists</h1>
	<form action="/addlist" method="post">
	  List Name:
	  <input type="text" name="name"></input>
	  <br>
	  Source:
	  <input type="text" name="source"></input>
	  <br>
	  <input type="submit" value="Add List"></input>
	</form>
	{% for r in rows %}
	{{ r.name.decode('utf-8') }}<br>
	{% endfor %}
  </body>
</html>

{#
<td><a href="{{ url_for('file_request', log_id=r.log_id, days=days) }}">
#}
