<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>
    </title>
  </head>
  <body>
	<h1>{{row.name.decode('utf-8')}}</h1>
	<form action="/add_to_list" method="post">
	  Word:
	  <input type="text" name="word"></input>
	  <br>
	  <input type="hidden" value="{{row.id}}" name="list_id"></input>
	  <input type="submit" value="Add Word"></input>
	</form>
  </body>
</html>

{#
<td><a href="{{ url_for('file_request', log_id=r.log_id, days=days) }}">
#}
