{% extends "home.html" %}

{% block body %}
{{ super() }}
<h1><a href="{{ url_for('list_details', list_id=wl_row.id) }}">{{wl_row.name}} ({{wl_row.id}})</a></h1>
{% if source_is_url %}
<a href="{{ wl_row.source }}">{{ wl_row.source }}</a>
{% elif wl_row.source %}
{{ wl_row.source }}
{% endif %}
<br>
<form action="/add_to_list" method="post">
  Word:
  <input type="text" name="word"></input>
  <br>
  <input type="hidden" value="{{wl_row.id}}" name="list_id"></input>
  <input type="submit" value="Add Word"></input>
</form>
<form action="/delete_from_list" method="post">
  <input type="hidden" value="{{wl_row.id}}" name="list_id"></input>
  <table width="100%">
    <tr valign="top">
      <td width>
	<h2>Bekannte Wörter ({{ known_words_count }})</h2>
	<table>
	  <tr valign="top">
	    {% for column in known_words %}
	    <td>
	      <table>
		{% for r in column %}
		<tr valign="top">
		  <td><input type="checkbox" name="known_wordlist" value="{{ r.word_id }}"></td>
		  <td>{{ r.article }}</td>
		  <td><a href="{{ url_for('add_word', word_id=r.word_id, word=r.list_word, list_id=list_id) }}">{{ r.list_word }}</a></td>
		  <td>{{ r.definition }}</td>
		</tr>
		{% endfor %}
	      </table>
	    </td>
	    {% endfor %}
	  </tr>
	</table>
      </td>
    </tr>
    <tr>
      <td width>
	<h2>Unbekannte Wörter ({{ unknown_words_count }})</h2>
	<table>
	  <tr valign="top">
	    {% for column in unknown_words %}
	    <td>
	      <table>
		{% for r in column %}
		<tr valign="top">
		  <td><input type="checkbox" name="unknown_wordlist" value="{{ r.list_word }}"></td>
		  <td><a href="{{ url_for('add_word', list_id=list_id, word=r.list_word) }}">{{ r.list_word }}</a></td>
		</tr>
		{% endfor %}
	      </table>
	    </td>
	    {% endfor %}
	  </tr>
	</table>
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Delete Selected Words"></input>
      </td>
    </tr>
  </table>
</form>
<form action="/update_notes" method="post">
  <h2>Notes<h2>
      <textarea name="notes" rows="50" cols="100">{{ wl_row.notes }}</textarea>
      <br>
      <input type="hidden" value="{{wl_row.id}}" name="list_id"></input>
      <input type="submit" value="Update Notes"></input>
</form>
{% endblock %}
