<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>
    </title>
  </head>
  <body>
	<h1>{{wl_row.name.decode('utf-8')}}</h1>
	<form action="/add_to_list" method="post">
	  Word:
	  <input type="text" name="word"></input>
	  <br>
	  <input type="hidden" value="{{wl_row.id}}" name="list_id"></input>
	  <input type="submit" value="Add Word"></input>
	</form>
	<h2>Known Words</h2>
	{% for r in known_words %}
	{{ r.list_word.decode('utf-8') }}<br>
	{% endfor %}
	<h2>Unnown Words</h2>
	{% for r in unknown_words %}
	{{ r.list_word.decode('utf-8') }}<br>
	{% endfor %}
  </body>
</html>

{#
<td><a href="{{ url_for('file_request', log_id=r.log_id, days=days) }}">
#}
